[submodule "vendor/hyprland-plugins"]
	path = vendor/hyprland-plugins
	url = https://github.com/hyprwm/hyprland-plugins.git
[submodule "vendor/gtk4-layer-shell"]
	path = vendor/gtk4-layer-shell
	url = https://github.com/wmww/gtk4-layer-shell.git
[submodule "vendor/libadwaita"]
	path = vendor/libadwaita
	url = https://gitlab.gnome.org/GNOME/libadwaita.git
[submodule ".hyprglass_manual"]
	path = .hyprglass_manual
	url = https://github.com/hyprnux/hyprglass.git
