# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/

# OS
.DS_Store
*.swp
*~
*.zip

# IDE
.vscode/
.idea/

# Build & Dist
*.deb
*.iso
build/
dist/
target/

# Media & Recordings
*.mkv
*.mp4
*.webm
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Profiling & Local Cache
ui/ags-v3/isolated_config/
ui/ags-v3/astal-local/
.gemini/
brain/
logs/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temp
*.log
*.tmp
google-chrome-stable_current_amd64.deb

# Local Builds & Deps
aquamarine/
hyprgraphics/
hyprland-protocols/
hyprlang/
hyprpaper/
hyprpicker/
hyprsunset/
hyprsysteminfo/
hyprtoolkit/
hyprutils/
hyprwayland-scanner/
hyprwire/
local/
temp_deps/
