
window,
window.atomic-island-win,
.transparent,
.cc-island {
    background-color: transparent !important;
    background-image: none !important;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

