[Desktop Entry]
Name=Crystal Shell Settings
Comment=Configura tu entorno Crystal Shell
Exec=bash -c 'ags request toggleSettings'
Icon=gnome-control-center
Type=Application
Categories=Settings;DesktopSettings;
Keywords=settings;config;theme;appearance;
StartupNotify=false
